/*Colour pallete*/
/*#b75800*/
/*#e2bc99*/
/*#f0ddcc*/

body {
	line-height: 23px;
}

.trading-card {
	margin: 0 auto;
	width: 300px;
	border: 0.1px solid #b8b8b8;
	box-shadow: 5px 5px 5px #d3d3d3;
	padding: 0 20px;
	background: #e2bc99;
}

h3 {
	color: #b75800;
	font-size: 2rem;
}

.animal-img {
	margin: 0;
}

.animal-stats-box {
	border: 0.1px solid #b8b8b8;
	margin: 10px 0;
	padding: 0 15px;
	text-align: justify;
	background: #f0ddcc;
}

.animal-info {
	list-style: none;
	padding-left: 0;
}

li > span {
	font-weight: bold;
}